* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --hue: 195;
  --bg-header: hsl(var(--hue), 91%, 25%);
  --bg-footer: hsl(var(--hue), 46%, 40%);
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 1.6rem;
}

.app {
  width: 100%;
  height: 100%;
}

header {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: 2.6rem;

  background: var(--bg-header);
  padding: 1.6rem 2.8rem;
  align-items: center;
}

h1,
h2 {
  font-size: 2.4rem;
}

h2 {
  margin-bottom: 3.2rem;
}

.kat {
  width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}

.logo {
  background: white;
  padding: 0.9rem;
  border-radius: 50%;
}

input {
  padding: 1.2rem 1.4rem;
  border-radius: 0.4rem;

  background: rgba(255, 255, 255, 0.2);
  border: none;
  width: 100%;
}

form input::placeholder {
  color: white;
  font-family: "Mulish", sans-serif;
}

.avatar {
  width: 4.2rem;
  height: 4.2rem;
  object-fit: cover;
  border-radius: 50%;
}

main {
  display: flex;
  flex-direction: column;
}

aside {
  margin-top: 3.4rem;
}

.artigo p + p {
  margin-top: 2rem;
}

.artigo {
  width: 100%;
  max-width: 80rem;
  animation: appear 700ms backwards;
  }

.artigo button {
  background: var(--bg-header);

  border-radius: 50%;
  border: none;
}

.artigo2 {
  animation: appear 700ms backwards;
}

.subheader {
  margin-block: 3.2rem;
  

}

.button-box {
  margin-top: 0.8rem;
}

.button:hover {
  cursor: pointer;
  transition: 0.6s;
  transform: scale(1.2);
}

.section h2 {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

.section {
  display: flex;
  gap: 1.6rem;
  padding-bottom: 3.2rem;
  margin-block: 2.2rem;
  animation: appear 700ms backwards;
}

.section img {
  object-fit: cover;
  width: 15.1rem;
  height: 8.4rem;
}

footer {
  background: var(--bg-footer);
  text-align: center;
  padding: 1.6rem;
  color: white;
}

@media (min-width: 1568px) {
  main {
    display: flex;
    flex-direction: row;
    gap: 3.4rem;
    padding: 3.9rem 15rem;
  }

  aside {
    margin-top: 0;
  }

  .subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .kat {
    border-radius: 5px;
  }

  .artigo {
    animation: appear 700ms backwards;
  }

  
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(8rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
